@model List<Product>
<div class="card shadow m-4 border-0">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3 ">
        <div class="row">
            <div class=" text-center col-12">
                <h2 class="text-white">
                    Product list
                </h2>
            </div>

        </div>
    </div>
    <div class="card-body p-4">
        <div class="row mb-4">
            <div class="col-12 text-end">
                <a asp-controller="Product" asp-action="Create" class=" btn btn-primary"><i class="bi bi-patch-plus"></i>Create new category</a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        title
                    </th>
                    
                    <th>
                        ISBN
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        List Price
                    </th>
                    <th>
                        selling Price 
                    </th>
                    <th>
                        Price for more than 50
                    </th>
                    <th>
                        Price for more than 100
                    </th>
                    <th>
                        Category
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(o => o.ProductId))
                {
                    <tr>
                        <td>@obj.Title</td>
                        <td>@obj.ISBN</td>
                        <td>@obj.Author</td>
                        <td>@obj.ListPrice</td>
                        <td>@obj.Price</td>
                        <td>@obj.Price50</td>
                        <td>@obj.Price100</td>
                        <td>@obj.ProductId</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Product" asp-action="Edit" asp-route-id=@obj.ProductId class="btn btn-primary mx-2">
                                    <i class="bi bi-pen"></i> edit
                                </a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.ProductId" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


